main
{
    width: 1200px;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
}

.IndexPage
{
    margin-top: 100px;
    width: 1200px;
    height: auto;
}

.ItemBoxes
{
    border: 3px solid blue;
    border-radius: 15px;
    width: 200px;
    height: 300px;
}

.ImageBoxes
{
    border-bottom: 2px solid blue;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 200px;
    height: 200px;
}